.footer {
    padding: 1rem 0;
    background-color: rgba(19, 19, 19, 0.8);
}

.social {
    display: flex;
    margin-left: 50%;
}

.copyright {
    display: flex;
    margin-left: 50%;
    margin-top: 1%;
}


