.resume-container {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

}

.resume-container .btn {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
}

.resume-container .btn {
background-color: rgb(209,50,19);
color: whitesmoke;
}

.resume-container .btn:hover {
background: rgb(228, 196, 228);
color: black;
transition: 0.3s;
}